<div class="sb-sidenav-menu-heading">إدارة الاختبارات</div>
<a class="nav-link" asp-controller="Jobs" asp-action="Index">
  <div class="sb-nav-link-icon"><i class="fas fa-briefcase"></i></div>
  الوظائف
</a>
<a class="nav-link" asp-controller="Exams" asp-action="Index">
  <div class="sb-nav-link-icon"><i class="fas fa-clipboard-list"></i></div>
  الاختبارات
</a>
<a class="nav-link" asp-controller="QuestionSets" asp-action="Index">
  <div class="sb-nav-link-icon"><i class="fas fa-question-circle"></i></div>
  مجموعات الأسئلة
</a>
