@{
    ViewData["Title"] = "خطأ";
}

<div class="text-center">
    <h1 class="text-danger">خطأ</h1>
    <h2 class="text-danger">حدث خطأ أثناء معالجة طلبك.</h2>
    <p>
        <strong>نأسف للإزعاج. يرجى المحاولة مرة أخرى لاحقًا.</strong>
    </p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">العودة للصفحة الرئيسية</a>
</div>